
html{
    font-size: 62.5%;
}
video{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}
 
.mobilebg{
    display: none;
}
 
.visual_main{
    width: 100%;
     height: calc(100vh - 40px); 
    
    background-size: cover;
    overflow: hidden;
    
   
}
.visual{
    top: 12rem;
    height: 30rem;
   
    position: absolute;
    left: 3%;
}
.visual img{
    height: 100%;
}


 

@media (max-width:1200px){
    html{
        font-size: 50%
    };
}
@media (max-width:780px){
    html{
        font-size: 40%
    };
}
@media (max-width : 580px){
    video{
        display: none;
    }
    .mobilebg{
        display: block;
        width: 100%;
    }
    
}