@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}
 
 
.BrandLogo{
 padding: 7px;
 height: 50px;
 
}

.navlist{
   
    width: 100%;
 
}

.navlist ul {
    display: flex;
    justify-content: space-evenly;
    
}
.navlist ul li{
    list-style: none;
    font-family: 'Teko', sans-serif;
    font-size: 2.3rem;
    
    text-transform: uppercase;
    cursor: pointer;
}

.first{
    
    display: flex;
     
    margin-left: 4px;
    width: 100%;
    position: relative;
}
 
.Navbox{
    justify-content: space-between;
   
    display: flex;
     
}

 
 

.hamicon{
    padding: 16px 18px;
    background: #ff9800;
     z-index: 44;
     display: none;
}
.hide{
    display: none !important;
} 
 
.navbarLinks{
    text-decoration: none;
    color: rgba(255,255,255,0.50);
}
.navbarLinks:hover{
    color :#ff9800;
}
.active{
    color :#ff9800;
}
.socialmedia a{
   color:#fff;
}

.fa-external-link-alt{
    font-size: 1.1rem;
}
.socialmedia a:hover{
    color:#ff9800;
 }
 .nav {
     transition: all 0.3s ease;
 }
 /*************
 media querries
 ****************/
@media(max-width : 780px){
    
   

    .navlist ul li {
         
        font-size: 5rem;
       
    }
    .Navbox{
        justify-content: flex-end;
       
       
         
    }
    .nav{
        background: black;
        position: absolute;
        left: 0px;
        z-index: 3333;
        top: -271%;
        width: 100vw;
        display: flex;
        border-top: 1px solid grey;
    }
    .falldown{
        top: 100%;
        left: 0;
        padding-bottom: 3rem;
    }
    .first{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .first li {
        padding: .8rem 0;
        border-bottom: 1px solid grey;
        width: 91%;
        text-align: center;
    }
     
    .hamicon{
        display: block;
    }
}
 
